**/vendor/**

*.vscode
.buildpath
.metadata
.project
.settings

#coverage
/coverage/

#Intlelij or PHPStorm
.idea/*
/vendor/

# Build artifacts
build/*
**/build.tar.gz

# PHP Archives
*.phar

# Ignore phpunit result caches
*.phpunit.result.cache

# Misc
*.rnd
